.about-content-wrapper {
    width: 100%;
    height: auto;
    background-color: #fef7f5;
    margin-top: 74px;
}
.h2-sub-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12pt;
    /* color: #6b7280; */
    color: #1C2120;
}
.h1-major-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27pt;
    color: #1C2120;
}
.p-about-desc {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12pt;
    color: #1C2120;
}
.div-about-button-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}
.btn-about {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11pt;
}
.btn-hire-me {
    --bs-btn-active-color: #ef4444;
    --bs-btn-active-bg: #fef7f5;
    --bs-btn-active-border-color: #ef4444;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #ef4444;
    --bs-btn-border-color: #ef4444;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ef4444;
    --bs-btn-hover-border-color: #ef4444;
}
.btn-download-cv {
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #ef4444;
    --bs-btn-active-border-color: #ef4444;
    --bs-btn-color: #ef4444;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #ef4444;
    --bs-btn-hover-color: #ef4444;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #ef4444;
}
.img-about-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-end;
    justify-self: center;
    box-shadow: 0px 0px 10px #00000014;
    border: 5px solid #FFFFFF;
}
.img-about-photo-responsive {
    width: 300px;
    height: 300px;
    object-fit: cover;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #00000014;
    border: 5px solid #FFFFFF;
}
.div-about-details-overlay {
    padding: 40px 20px 0px 20px;
}
.div-about-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.div-about-responsive-mobile {
    display: flex;
    flex-direction: column;
}
.div-about-responsive-web {
    display: none;
}

@media only screen and (min-width: 768px) {
    .div-about-responsive-web {
        display: block;
    }
    .div-about-responsive-mobile {
        display: none;
    }
}