.h2-projects-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27pt;
    color: #1C2120;
}
.p-projects-desc {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11pt;
    color: #1C2120;
}
.project-content-wrapper {
    width: 100%;
    background-color: #F4F3F3;
    padding-bottom: 300px;
}
.div-projects-card {
    box-shadow: 0px 0px 6px #0000000F;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 20px;
}