.nav-header-container {
    padding-top: 14px;
    padding-bottom: 14px;
}
.nav-bg-light {
    --bs-bg-opacity: 1;
    /* background-color: #fef7f5 !important; */
    background-color: #FFFFFF;
}
.nav-menu-items {
    margin-left: auto;
}
.auto-padder {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.nav-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt !important;
    font-style: normal;
    font-weight: 600 !important;
    /* color: #1C2120 !important; */
    color: #1C2120;
}
.nav-brand-light {
    color: #FFFFFF !important;
}
.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}
.nav-link {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 11pt;
    font-weight: 600;
}
.nav-span {
    color: #1C2120;
}
.nav-span.active {
    color: #ef4444;
    font-weight: 700;
}
.nav-link-light {
    color: #FFFFFF !important;
}
.nav-hover {
    width: 100%;
    height: 2px;
}
.nav-hover.active {
    margin: auto;
    background-color: #ef4444;
    width: 100%;
    transition: .7s;
}
.nav-hover-active-light {
    background-color: #FFFFFF !important;
}
.nav-hover.inactive {
    margin: auto;
    background-color: #CCCCCC;
    width: 0% !important;
    transition: .7s;
}

#aboutNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#whatIdoNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#experienceNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#projectsNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#skillsNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#moreNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}

.nav-btn {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11pt;
    margin-top: 5px;
}
.nav-btn-download {
    --bs-btn-active-color: #ef4444;
    --bs-btn-active-bg: #fef7f5;
    --bs-btn-active-border-color: #ef4444;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #ef4444;
    --bs-btn-border-color: #ef4444;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ef4444;
    --bs-btn-hover-border-color: #ef4444;
}
.nav-btn-download-light {
    --bs-btn-active-color: #FFFFFF !important;
    --bs-btn-active-bg: #ef4444 !important;
    --bs-btn-active-border-color: #FFFFFF !important;
    --bs-btn-color: #ef4444 !important;
    --bs-btn-bg: #FFFFFF !important;
    --bs-btn-border-color: #FFFFFF !important;
    --bs-btn-hover-color: #ef4444 !important;
    --bs-btn-hover-bg: #FFFFFF !important;
    --bs-btn-hover-border-color: #FFFFFF !important;
}