.nav-header-container {
    padding-top: 14px;
    padding-bottom: 14px;
}
.nav-bg-light {
    --bs-bg-opacity: 1;
    /* background-color: #fef7f5 !important; */
    background-color: #FFFFFF;
}
.nav-menu-items {
    margin-left: auto;
}
.auto-padder {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.nav-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt !important;
    font-style: normal;
    font-weight: 600 !important;
    /* color: #1C2120 !important; */
    color: #1C2120;
}
.nav-brand-light {
    color: #FFFFFF !important;
}
.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}
.nav-link {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 11pt;
    font-weight: 600;
}
.nav-span {
    color: #1C2120;
}
.nav-span.active {
    color: #ef4444;
    font-weight: 700;
}
.nav-link-light {
    color: #FFFFFF !important;
}
.nav-hover {
    width: 100%;
    height: 2px;
}
.nav-hover.active {
    margin: auto;
    background-color: #ef4444;
    width: 100%;
    transition: .7s;
}
.nav-hover-active-light {
    background-color: #FFFFFF !important;
}
.nav-hover.inactive {
    margin: auto;
    background-color: #CCCCCC;
    width: 0% !important;
    transition: .7s;
}

#aboutNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#whatIdoNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#experienceNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#projectsNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#skillsNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}
#moreNav:hover ~ .nav-hover.inactive {
    width: 100% !important;
}

#moreNav:hover .div-more-extra-menu {
    height: 170px;
}

.nav-btn {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11pt;
    margin-top: 5px;
}
.nav-btn-download {
    --bs-btn-active-color: #ef4444;
    --bs-btn-active-bg: #fef7f5;
    --bs-btn-active-border-color: #ef4444;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #ef4444;
    --bs-btn-border-color: #ef4444;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ef4444;
    --bs-btn-hover-border-color: #ef4444;
}
.nav-btn-download-light {
    --bs-btn-active-color: #FFFFFF !important;
    --bs-btn-active-bg: #ef4444 !important;
    --bs-btn-active-border-color: #FFFFFF !important;
    --bs-btn-color: #ef4444 !important;
    --bs-btn-bg: #FFFFFF !important;
    --bs-btn-border-color: #FFFFFF !important;
    --bs-btn-hover-color: #ef4444 !important;
    --bs-btn-hover-bg: #FFFFFF !important;
    --bs-btn-hover-border-color: #FFFFFF !important;
}

.nav-more-items {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.div-more-extra-menu {
    height: 0px;
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: -20px;
    z-index: 999;
    background: #FFFFFF !important;
    overflow: hidden;
    min-width: 250px;
    box-shadow: 0 0 10px #00000014;
    border-radius: 4px !important;
    padding: 0px !important;
    transition: .3s;
}
.nav-more-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 140% !important;
    text-align: left !important;
    color: #292c33 !important;
    display: block;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 17px !important;
    padding-bottom: 17px !important;
    border-bottom: 1px solid #e6e4e4 !important;
}
.nav-more-item:hover {
    background: #ef4444 !important;
    color: #FFFFFF !important;
}

.img-toggle-icon {
    color: #1C2120;
    font-size: 17pt;
    display: none;
    padding-left: 15px;
    cursor: pointer;
}

.img-contact-collapsed-icon {
    color: #ef4444;
    font-size: 17pt;
}

.div-contact-mobile-wrapper {
    display: none;
    padding-right: 15px;
}

.nav-slider-drawer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #FFFFFF !important;
    z-index: 9999;
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: left;
    align-items: start;
}

@media only screen and (min-width: 0px) and (max-width: 992px) {
    .navbar-brand {
        display: block;
        margin: auto;
        padding-left: 30px;
    }
    .img-toggle-icon {
        display: block;
    }
    .div-contact-mobile-wrapper {
        display: block;
    }
}

@media only screen and (min-width: 576px) {
    .img-toggle-icon {
        padding-left: 0px;
    }
    .div-contact-mobile-wrapper {
        padding-right: 0px;
    }
}

.slide-open {
    left: 0px !important;
    box-shadow: 0 0 10px 5px #CCCCCC !important;
    transition: .4s;
}

.slide-close {
    left: -300px !important;
    box-shadow: 0 0 0px 0px #CCCCCC !important;
    transition: .4s;
}

.nav-brand-logo-slider {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt !important;
    font-style: normal;
    font-weight: 600 !important;
    color: #1C2120;
    padding-left: 15px;
}

.div-close-drawer-icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.fa-close-drawer-icon {
    font-size: 17pt;
    color: #1C2120;
    cursor: pointer;
}

.nav-slider-menu {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: left;
    align-items: start;
}

.nav-slider-item {
    width: 300px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
}

.nav-slider-menu-item {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    line-height: 140% !important;
    text-align: left !important;
    color: #292c33 !important;
    display: block;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-bottom: 1px solid #e6e4e4 !important;
}

.nav-slider-menu-item.active {
    background: #ef4444 !important;
    color: #FFFFFF !important;
}
.nav-slider-menu-item.sub-menu {
    padding-left: 50px !important;
}